* {
  font-family: 'Red Hat Text', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 300;
}

/* Restore bold for elements that should be bold */
strong, b {
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

body {
  font-family: 'Roboto Flex', Arial, Helvetica, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
